@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;600;700&display=swap');

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.app-name {
  margin: 20px 0 10px 10px;
}
